html[data-theme="dark"] {
  --main-background-color: #000000;
  --border-color: #fff;
  --text-color: #fff;
}
html[data-theme="light"] {
  --main-background-color: #fff;
  --border-color: #000;
  --text-color: #000;
}
