.root {
  padding-top: 35px;
  width: 100%;
}
.input {
  background-color: transparent;
  border: 1px solid var(--border-color);
  width: 21%;
  height: 45px;
  border-radius: 8px;
  padding-left: 14px;
  outline: none;
  &::placeholder {
    color: var(--text-input);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  color: var(--text-input);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
